/* RESET */
:root {
  --granate: rgb(128, 0, 32);
  --dorado: rgb(212, 175, 55);
  --negro: #0a0a0a;
  --negro-suave: #111;
  --gris-texto: #eaeaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* BASE */
body {
  background-color: var(--negro);
  color: var(--gris-texto);
  line-height: 1.6;
}

/* BANNER */
.banner {
  width: 100%;
  height: 400px;
  background-image: url("../assets/img/banner.png"); /* placeholder */
  background-size: cover;
  background-position: center;
  text-align: center;
}

.logo {
  width: 180px;
  margin: 20px auto;
  display: block;
}

/* TITULOS */
h1,
h2,
h3 {
  margin-bottom: 15px;
  color: #d4af37; /* dorado */
}

/* HEADER */
header {
  background: var(--negro-suave);
  padding: 30px 20px;
}

header h1 {
    color: var(--dorado);
  font-size: 3rem;
  letter-spacing: 2px;
}

header p {
  color: #ccc;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  margin-top: 20px;
}

header nav a {
 color: var(--gris-texto);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}


header nav a:hover {
  color: var(--dorado);
}

/* CONTENEDOR */
.contenedor {
  max-width: 1000px;
  margin: auto;
  padding: 50px 20px;
  text-align: center;
}

/* SERVICIOS */
.grid-servicios {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #141414;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid var(--granate);
  flex: 1 1 260px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  background: var(--granate);
  color: white;
  box-shadow: 0 0 15px rgba(212, 175, 55, 0.4);;
}

/* TESTIMONIOS */
blockquote {
 background: #1a1a1a;
  border-left: 5px solid var(--dorado);
  margin: 20px auto;
  padding: 15px;
  font-style: italic;
  width: 80%;
}

/* FOOTER */
footer {
  background: var(--negro);
  padding: 40px 20px;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  margin: 20px 0;
}

footer a {
  color: var(--dorado);
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}

footer form {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer input,
footer textarea {
  padding: 10px;
  background: #1a1a1a;
  border: 1px solid var(--granate);
  color: white;
  border-radius: 5px;
}

footer button {
   background: var(--dorado);
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

footer button:hover {
  background: var(--granate);
  color: white;
}

.copy {
  margin-top: 20px;
  font-size: 0.85rem;
  color: #888;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
  }

  header h1 {
    font-size: 2rem;
  }

  .banner {
    height: 260px;
  }
}
