{% extends "layout.html" %}
{% block title %}Celulares | Reparaciones De Celulares {% endblock %}

 {% block content %}
<main class="contenedor">
  <h2>Reparación de Celulares</h2>
  <p>
    Servicio técnico especializado en teléfonos móviles.
    Diagnóstico real, reparación profesional y repuestos de calidad.
  </p>
  <div class="grid-servicios">
    <div class="card">
      <h3>Pantallas</h3>
      <p>Cambio de módulos, táctiles y vidrios.</p>
    </div>

    <div class="card">
      <h3>Baterías</h3>
      <p>Reemplazo de baterías agotadas o defectuosas.</p>
    </div>

    <div class="card">
      <h3>Puertos de carga</h3>
      <p>Reparación y cambio de conectores dañados.</p>
    </div>
  </div>
</main>
 {% endblock %}