{% extends "layout.html" %}

{% block title %}PCs| Reparaciones de Computadoras{% endblock %}

 {% block content %}

<main class="contenedor">
  <h2>Computadoras y Notebooks</h2>
  <p>
    Servicio técnico especializado en PC y laptops.
    Mantenimiento, reparación, upgrades y optimización.
  </p>

  <div class="grid-servicios">
    <div class="card">
      <h3>Mantenimiento y Limpieza</h3>
      <p>Limpieza interna, cambio de pasta térmica y control térmico.</p>
    </div>

    <div class="card">
      <h3>Instalación de Sistemas</h3>
      <p>Windows, drivers, software y optimización general.</p>
    </div>

    <div class="card">
      <h3>Upgrades</h3>
      <p>SSD, RAM, mejoras de rendimiento y asesoramiento.</p>
    </div>
  </div>
</main>

{% endblock %}